<!DOCTYPE html>
<html lang="en">
<%- include('_head.ejs')%>


<body class="landing-page sidebar-collapse">
	<%- include('_menu.ejs')%>

	<div class="page-header header-filter" data-parallax="true"
		style="background-image: url('../assets/img/lighthouse.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="title">Tu lugar de descubrimiento...</h2>
					<br>
				</div>
			</div>
		</div>
	</div>
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto">
						<h2 class="title">Que es El Faro?</h2>
						<h5 class="description">El sitio donde todo tipo de artistas se concentran para exponer
                         y promover sus trabajos de una manera personalizada y acorde a sus necesidades.</br>
                         </br>¿Buscas talentos? ¡También puedes encontrarlos aquí!</br>
                         </br>Te invitamos a descubrir ese estilo musical que estabas buscando, esas pinturas
                         increíbles o esas hermosas fotografías que te gustaría ver. La calidad y variedad
                         te sorprenderán.</h5>
					</div>
				</div>
				<div class="features">
					<div class="row">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-info">
									<i class="material-icons">queue_music</i>
								</div>
								<h4 class="info-title">Escucha tu música</h4>
								<p>Podras escuchar música a discresión desdesde nuestra web, y también mismo disfrutar de
                                todo el contenido que puedes encontrar.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-success">
									<i class="material-icons">flight_takeoff</i>
								</div>
								<h4 class="info-title">Apoya a tus Artistas favoritos</h4>
								<p>Nuestro sistema de donación permite que los artistas puedan seguir desarrollándose
                                gracias a ti! Con un simple click puedes ayudarlos a crecer!</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-danger">
									<i class="material-icons">check_circle_outline</i>
								</div>
								<h4 class="info-title">También eres Artista?</h4>
								<p>Publicar en nuestro sitio es muy sencillo y además gratuito!
                                sólo debes escribirnos a nuestro contacto con los detalles que ahí te daremos
                                y con muchísimo gusto te daremos la bienvenida. ¡Te esperamos!</p>
							</div>
						</div>
					</div>
				</div>
                <p>Colabora con nuestra causa!</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="GZPAF9DHEHUKJ" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_UY/i/scr/pixel.gif" width="1" height="1" />
</form>

			</div>

		</div>
	</div>
    <div class="main main-raised">
		<div class="container">
			<div class="section text-center">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto">
						<h2 class="title">Ultimos agregados</h2>
					</div>
				</div>
				<div class="container">
				<div class="section text-center">
					<div class="row">
						<div class="col-md-6">
							<form method="POST" action="/user">
                            <div class="card">
								<div class="card-header card-header-text card-header-primary" >
									<div class="card-text">
										<h4 class="card-title"><%= docs[docs.length -1].nombre + ' ' + docs[docs.length -1].apellido %></h4>
									</div>
								</div>
								<div class="card-body">
                                <img width="200" height="200" src="<%= docs[docs.length -1].perfil %>" srcset="<%= docs[docs.length -1].perfil %>, https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="img-fluid" alt="Responsive image">
                                </br>
									<%= docs[docs.length -1].f_tecnica%>
                                    <input type="text" name="email" value="<%= docs[docs.length -1].email%>" style="display:none"></br>
							        <button type="submit" class="btn btn-primary">Ver artista</button>
								</div>
							</div>
                            </form>
						</div>
                        <div class="col-md-6">
							<form method="POST" action="/user">
                            <div class="card">
								<div class="card-header card-header-text card-header-primary" >
									<div class="card-text">
										<h4 class="card-title"><%= docs[docs.length -2].nombre + ' ' + docs[docs.length -2].apellido %></h4>
									</div>
								</div>
								<div class="card-body">
                                <img width="200" height="200" src="<%= docs[docs.length -2].perfil %>" srcset="<%= docs[docs.length -2].perfil %>, https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="img-fluid" alt="Responsive image">
                                </br>
									<%= docs[docs.length -2].f_tecnica%>
                                    <input type="text" name="email" value="<%= docs[docs.length -2].email%>" style="display:none"></br>
							        <button type="submit" class="btn btn-primary">Ver artista</button>
								</div>
							</div>
                            </form>
						</div>
                        <div class="col-md-6">
							<form method="POST" action="/user">
                            <div class="card">
								<div class="card-header card-header-text card-header-primary" >
									<div class="card-text">
										<h4 class="card-title"><%= docs[docs.length -3].nombre + ' ' + docs[docs.length -3].apellido %></h4>
									</div>
								</div>
								<div class="card-body">
                                <img width="200" height="200" src="<%= docs[docs.length -3].perfil %>" srcset="<%= docs[docs.length -3].perfil %>, https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="img-fluid" alt="Responsive image">
                                </br>
									<%= docs[docs.length -3].f_tecnica%>
                                    <input type="text" name="email" value="<%= docs[docs.length -3].email%>" style="display:none"></br>
							        <button type="submit" class="btn btn-primary">Ver artista</button>
								</div>
							</div>
                            </form>
						</div>
                        <div class="col-md-6">
							<form method="POST" action="/user">
                            <div class="card">
								<div class="card-header card-header-text card-header-primary" >
									<div class="card-text">
										<h4 class="card-title"><%= docs[docs.length -4].nombre + ' ' + docs[docs.length -4].apellido %></h4>
									</div>
								</div>
								<div class="card-body">
                                <img width="200" height="200" src="<%= docs[docs.length -4].perfil %>" srcset="<%= docs[docs.length -4].perfil %>, https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="img-fluid" alt="Responsive image">
                                </br>
									<%= docs[docs.length -4].f_tecnica%>
                                    <input type="text" name="email" value="<%= docs[docs.length -4].email%>" style="display:none"></br>
							        <button type="submit" class="btn btn-primary">Ver artista</button>
								</div>
							</div>
                            </form>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>

	<%- include('_footer.ejs')%>
</body>

</html>