<!DOCTYPE html>
<html lang="en">

<%- include('_head.ejs') %>

<body class="profile-page sidebar-collapse">
	<%- include('_menu.ejs') %>
    <script type="text/javascript">
        function agregar(i){
            if (i == 1){
                document.form.btnimg1.style.display= "none";
                document.form.img2.style.display= "inline";
                document.form.btnimg2.style.display= "inline";
            }
            if (i == 2){
                document.form.btnimg2.style.display= "none";
                document.form.img3.style.display= "inline";
                document.form.btnimg3.style.display= "inline";
            }
            if (i == 3){
                document.form.btnimg3.style.display= "none";
                document.form.img4.style.display= "inline";
                document.form.btnimg4.style.display= "inline";
            }
            if (i == 4){
                document.form.btnimg4.style.display= "none";
                document.form.img5.style.display= "inline";
                document.form.btnimg5.style.display= "inline";
            }
            if (i == 5){
                document.form.btnimg5.style.display= "none";
                document.form.img6.style.display= "inline";
                document.form.btnimg6.style.display= "inline";
            }
            if (i == 6){
                document.form.btnimg6.style.display= "none";
                document.form.img7.style.display= "inline";
                document.form.btnimg7.style.display= "inline";
            }
            if (i == 7){
                document.form.btnimg7.style.display= "none";
                document.form.img8.style.display= "inline";
                document.form.btnimg8.style.display= "inline";
            }
            if (i == 8){
                document.form.btnimg8.style.display= "none";
                document.form.img9.style.display= "inline";
                document.form.btnimg9.style.display= "inline";
            }
            if (i == 9){
                document.form.btnimg9.style.display= "none";
                document.form.img10.style.display= "inline";
                document.form.btnimg10.style.display= "inline";
            }
            if (i == 10){
                document.form.btnimg10.style.display= "none";
                document.form.img11.style.display= "inline";
                document.form.btnimg12.style.display= "inline";
            }
            if (i == 11){
                document.form.btnimg11.style.display= "none";
                document.form.img12.style.display= "inline";
                document.form.btnimg12.style.display= "inline";
            }
            if (i == 12){
                document.form.btnimg12.style.display= "none";
                document.form.img13.style.display= "inline";
                document.form.btnimg13.style.display= "inline";
            }
            if (i == 13){
                document.form.btnimg13.style.display= "none";
                document.form.img14.style.display= "inline";
                document.form.btnimg14.style.display= "inline";
            }
            if (i == 14){
                document.form.btnimg14.style.display= "none";
                document.form.img15.style.display= "inline";
                document.form.btnimg15.style.display= "inline";
            }
            if (i == 15){
                document.form.btnimg15.style.display= "none";
                document.form.img16.style.display= "inline";
                document.form.btnimg16.style.display= "inline";
            }
            if (i == 16){
                document.form.btnimg16.style.display= "none";
                document.form.img17.style.display= "inline";
                document.form.btnimg17.style.display= "inline";
            }
            if (i == 17){
                document.form.btnimg17.style.display= "none";
                document.form.img18.style.display= "inline";
                document.form.btnimg18.style.display= "inline";
            }
            if (i == 18){
                document.form.btnimg18.style.display= "none";
                document.form.img19.style.display= "inline";
                document.form.btnimg19.style.display= "inline";
            }
            if (i == 19){
                document.form.btnimg19.style.display= "none";
                document.form.img20.style.display= "inline";
                document.form.btnimg20.style.display= "inline";
            }
            if (i == 20){
                document.form.btnimg20.style.display= "none";
                document.form.img21.style.display= "inline";
                document.form.btnimg21.style.display= "inline";
            }
            if (i == 21){
                document.form.btnimg21.style.display= "none";
                document.form.img22.style.display= "inline";
                document.form.btnimg22.style.display= "inline";
            }
            if (i == 22){
                document.form.btnimg22.style.display= "none";
                document.form.img23.style.display= "inline";
                document.form.btnimg23.style.display= "inline";
            }
            if (i == 23){
                document.form.btnimg23.style.display= "none";
                document.form.img24.style.display= "inline";
                document.form.btnimg24.style.display= "inline";
            }
            if (i == 24){
                document.form.btnimg24.style.display= "none";
                document.form.img25.style.display= "inline";
                document.form.btnimg25.style.display= "inline";
            }
            if (i == 25){
                document.form.btnimg25.style.display= "none";
                document.form.img26.style.display= "inline";
                document.form.btnimg26.style.display= "inline";
            }
            if (i == 26){
                document.form.btnimg26.style.display= "none";
                document.form.img27.style.display= "inline";
                document.form.btnimg27.style.display= "inline";
            }
            if (i == 27){
                document.form.btnimg27.style.display= "none";
                document.form.img28.style.display= "inline";
                document.form.btnimg28.style.display= "inline";
            }
            if (i == 28){
                document.form.btnimg28.style.display= "none";
                document.form.img29.style.display= "inline";
                document.form.btnimg29.style.display= "inline";
            }
            if (i == 29){
                document.form.btnimg29.style.display= "none";
                document.form.img30.style.display= "inline";
                document.form.btnimg30.style.display= "inline";
            }
        }
    </script>
   <script type="text/javascript">
        function vagregar(i){
            if (i == 1){
                document.form.vbtnimg1.style.display= "none";
                document.form.vimg2.style.display= "inline";
                document.form.vbtnimg2.style.display= "inline";
            }
            if (i == 2){
                document.form.vbtnimg2.style.display= "none";
                document.form.vimg3.style.display= "inline";
                document.form.vbtnimg3.style.display= "inline";
            }
            if (i == 3){
                document.form.vbtnimg3.style.display= "none";
                document.form.vimg4.style.display= "inline";
                document.form.vbtnimg4.style.display= "inline";
            }
            if (i == 4){
                document.form.vbtnimg4.style.display= "none";
                document.form.vimg5.style.display= "inline";
                document.form.vbtnimg5.style.display= "inline";
            }
            if (i == 5){
                document.form.vbtnimg5.style.display= "none";
                document.form.vimg6.style.display= "inline";
                document.form.vbtnimg6.style.display= "inline";
            }
            if (i == 6){
                document.form.vbtnimg6.style.display= "none";
                document.form.vimg7.style.display= "inline";
                document.form.vbtnimg7.style.display= "inline";
            }
            if (i == 7){
                document.form.vbtnimg7.style.display= "none";
                document.form.vimg8.style.display= "inline";
                document.form.vbtnimg8.style.display= "inline";
            }
            if (i == 8){
                document.form.vbtnimg8.style.display= "none";
                document.form.vimg9.style.display= "inline";
                document.form.vbtnimg9.style.display= "inline";
            }
            if (i == 9){
                document.form.vbtnimg9.style.display= "none";
                document.form.vimg10.style.display= "inline";
                document.form.vbtnimg10.style.display= "inline";
            }
            if (i == 10){
                document.form.vbtnimg10.style.display= "none";
                document.form.vimg11.style.display= "inline";
                document.form.vbtnimg12.style.display= "inline";
            }
            if (i == 11){
                document.form.vbtnimg11.style.display= "none";
                document.form.vimg12.style.display= "inline";
                document.form.vbtnimg12.style.display= "inline";
            }
            if (i == 12){
                document.form.vbtnimg12.style.display= "none";
                document.form.vimg13.style.display= "inline";
                document.form.vbtnimg13.style.display= "inline";
            }
            if (i == 13){
                document.form.vbtnimg13.style.display= "none";
                document.form.vimg14.style.display= "inline";
                document.form.vbtnimg14.style.display= "inline";
            }
            if (i == 14){
                document.form.vbtnimg14.style.display= "none";
                document.form.vimg15.style.display= "inline";
                document.form.vbtnimg15.style.display= "inline";
            }
            if (i == 15){
                document.form.vbtnimg15.style.display= "none";
                document.form.vimg16.style.display= "inline";
                document.form.vbtnimg16.style.display= "inline";
            }
            if (i == 16){
                document.form.vbtnimg16.style.display= "none";
                document.form.vimg17.style.display= "inline";
                document.form.vbtnimg17.style.display= "inline";
            }
            if (i == 17){
                document.form.vbtnimg17.style.display= "none";
                document.form.vimg18.style.display= "inline";
                document.form.vbtnimg18.style.display= "inline";
            }
            if (i == 18){
                document.form.vbtnimg18.style.display= "none";
                document.form.vimg19.style.display= "inline";
                document.form.vbtnimg19.style.display= "inline";
            }
            if (i == 19){
                document.form.vbtnimg19.style.display= "none";
                document.form.vimg20.style.display= "inline";
                document.form.vbtnimg20.style.display= "inline";
            }
            if (i == 20){
                document.form.vbtnimg20.style.display= "none";
                document.form.vimg21.style.display= "inline";
                document.form.vbtnimg21.style.display= "inline";
            }
            if (i == 21){
                document.form.vbtnimg21.style.display= "none";
                document.form.vimg22.style.display= "inline";
                document.form.vbtnimg22.style.display= "inline";
            }
            if (i == 22){
                document.form.vbtnimg22.style.display= "none";
                document.form.vimg23.style.display= "inline";
                document.form.vbtnimg23.style.display= "inline";
            }
            if (i == 23){
                document.form.vbtnimg23.style.display= "none";
                document.form.vimg24.style.display= "inline";
                document.form.vbtnimg24.style.display= "inline";
            }
            if (i == 24){
                document.form.vbtnimg24.style.display= "none";
                document.form.vimg25.style.display= "inline";
                document.form.vbtnimg25.style.display= "inline";
            }
            if (i == 25){
                document.form.vbtnimg25.style.display= "none";
                document.form.vimg26.style.display= "inline";
                document.form.vbtnimg26.style.display= "inline";
            }
            if (i == 26){
                document.form.vbtnimg26.style.display= "none";
                document.form.vimg27.style.display= "inline";
                document.form.vbtnimg27.style.display= "inline";
            }
            if (i == 27){
                document.form.vbtnimg27.style.display= "none";
                document.form.vimg28.style.display= "inline";
                document.form.vbtnimg28.style.display= "inline";
            }
            if (i == 28){
                document.form.vbtnimg28.style.display= "none";
                document.form.vimg29.style.display= "inline";
                document.form.vbtnimg29.style.display= "inline";
            }
            if (i == 29){
                document.form.vbtnimg29.style.display= "none";
                document.form.vimg30.style.display= "inline";
                document.form.vbtnimg30.style.display= "inline";
            }
        }
    </script>

	<div class="page-header header-filter" data-parallax="true"
		style="background-image: url('../assets/img/lighthouse.jpg');"></div>

	<div class="main main-raised">
		<div class="container">
			<div class="section text-center">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto">
                    <h1 class="text-center">Panel de control</br></h1>
                    <h2> Bienvenido <%= user.nombre + ' ' + user.apellido %> </br></br></br></h2>
						<form method="POST" name="form" id="form" action="/profile">
							<div class="form-group">
								<label for="exampleInputEmail1">Nombre</label>
								<input type="name" name="nombre" class="form-control" id="nombre" value="<%= user.nombre %>">
                                <input type="name" name="id" class="form-control" id="nombre" value="<%= user._id %>" style="display: none">

							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Apellido</label>
								<input type="last-name" name="apellido" class="form-control" id="apellido" value="<%= user.apellido %>" >
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Nombre Artístico</label>
								<input type="art-name" name="nart" class="form-control" id="nart" value="<%= user.nart %>" >
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Pais</label>
								<input type="country" name="pais" class="form-control" id="pais" value="<%= user.pais %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Ciudad</label>
								<input type="city" name="ciudad" class="form-control" id="ciudad" value="<%= user.ciudad %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Direccion</label>
								<input type="dress" name="direccion" class="form-control" id="direccion" value="<%= user.direccion %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Código postal</label>
								<input type="cp" name="cp" class="form-control" id="cp" value="<%= user.cp %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Telefono</label>
								<input type="phone" name="telefono" class="form-control" id="telefono" value="<%= user.telefono %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Genero artístico</label>
								<select class="form-control" name="genero" id="genero">
                                    <option><% if (user.genero == "") {%>Selecciona un géreno<%} else {%><%= user.genero %><%}%></option>
                                    <option style="font-weight: bold;">MUSICA</option>
                                    <option>Rock</option>
                                    <option>Metal</option>
                                    <option>Indie</option>
                                    <option>Hip-Hip</option>
                                    <option>Folkclore</option>
                                    <option>Clásica</option>
                                    <option style="font-weight: bold;">ARTES VISUALES</option>
                                    <option>Pintura</option>
                                    <option>Escultura</option>
                                    <option>Tallado</option>
                                    <option>Fotografía</option>
                                    <option>Animación 3D</option>
                                    <option>Audio Visual</option>
                                </select>
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Facebook</label>
								<input type="text" name="facebook" class="form-control" id="facebook" value="<%= user.facebook %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Instagram</label>
								<input type="text" name="instagram" class="form-control" id="instagram" value="<%= user.instagram %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Youtube</label>
								<input type="text" name="youtube" class="form-control" id="youtube" value="<%= user.youtube %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Describe al público quien eres y que haces</label>
								<textarea class="form-control" name="f_tecnica" id="f_tecnica" rows="1"><%= user.f_tecnica %></textarea>
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Links de tus videos</label><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Para insertar videos desde youtube deverás copiar el enlace del video y luego suplantar '/watch?v=' por '/embed/' y listo!"><i class="fas fa-question-circle" style="font-size: 21px;"></i></button>
								<input type="text" name="videos" class="form-control" id="videos" value="<%= user.videos %>" style="display: inline;"><button type="button" name="vbtnimg1" id="vbtnimg1" class="btn btn-dark" style="display: inline" onclick="vagregar(1)">+</button>
                                <input type="text" name="vimg2" class="form-control" id="vimg2" value="<%= user.vimg2 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg2" id="vbtnimg2" style="display: none" onclick="vagregar(2)">+</button>
                                <input type="text" name="vimg3" class="form-control" id="vimg3" value="<%= user.vimg3 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg3" id="vbtnimg3" style="display: none" onclick="vagregar(3)">+</button>
                                <input type="text" name="vimg4" class="form-control" id="vimg4" value="<%= user.vimg4 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg4" id="vbtnimg4" style="display: none" onclick="vagregar(4)">+</button>
                                <input type="text" name="vimg5" class="form-control" id="vimg5" value="<%= user.vimg5 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg5" id="vbtnimg5" style="display: none" onclick="vagregar(5)">+</button>
                                <input type="text" name="vimg6" class="form-control" id="vimg6" value="<%= user.vimg6 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg6" id="vbtnimg6" style="display: none" onclick="vagregar(6)">+</button>
                                <input type="text" name="vimg7" class="form-control" id="vimg7" value="<%= user.vimg7 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg7" id="vbtnimg7" style="display: none" onclick="vagregar(7)">+</button>
                                <input type="text" name="vimg8" class="form-control" id="vimg8" value="<%= user.vimg8 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg8" id="vbtnimg8" style="display: none" onclick="vagregar(8)">+</button>
                                <input type="text" name="vimg9" class="form-control" id="vimg9" value="<%= user.vimg9 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg9" id="vbtnimg9" style="display: none" onclick="vagregar(9)">+</button>
                                <input type="text" name="vimg10" class="form-control" id="vimg10" value="<%= user.vimg10 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg10" id="vbtnimg10" style="display: none" onclick="vagregar(10)">+</button>
                                <input type="text" name="vimg11" class="form-control" id="vimg11" value="<%= user.vimg11 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg11" id="vbtnimg11" style="display: none" onclick="vagregar(11)">+</button>
                                <input type="text" name="vimg12" class="form-control" id="vimg12" value="<%= user.vimg12 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg12" id="vbtnimg12" style="display: none" onclick="vagregar(12)">+</button>
                                <input type="text" name="vimg13" class="form-control" id="vimg13" value="<%= user.vimg13 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg13" id="vbtnimg13" style="display: none" onclick="vagregar(13)">+</button>
                                <input type="text" name="vimg14" class="form-control" id="vimg14" value="<%= user.vimg14 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg14" id="vbtnimg14" style="display: none" onclick="vagregar(14)">+</button>
                                <input type="text" name="vimg15" class="form-control" id="vimg15" value="<%= user.vimg15 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg15" id="vbtnimg15" style="display: none" onclick="vagregar(15)">+</button>
                                <input type="text" name="vimg16" class="form-control" id="vimg16" value="<%= user.vimg16 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg16" id="vbtnimg16" style="display: none" onclick="vagregar(16)">+</button>
                                <input type="text" name="vimg17" class="form-control" id="vimg17" value="<%= user.vimg17 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg17" id="vbtnimg17" style="display: none" onclick="vagregar(17)">+</button>
                                <input type="text" name="vimg18" class="form-control" id="vimg18" value="<%= user.vimg18 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg18" id="vbtnimg18" style="display: none" onclick="vagregar(18)">+</button>
                                <input type="text" name="vimg19" class="form-control" id="vimg19" value="<%= user.vimg19 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg19" id="vbtnimg19" style="display: none" onclick="vagregar(19)">+</button>
                                <input type="text" name="vimg20" class="form-control" id="vimg20" value="<%= user.vimg20 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg20" id="vbtnimg20" style="display: none" onclick="vagregar(20)">+</button>
                                <input type="text" name="vimg21" class="form-control" id="vimg21" value="<%= user.vimg21 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg21" id="vbtnimg21" style="display: none" onclick="vagregar(21)">+</button>
                                <input type="text" name="vimg22" class="form-control" id="vimg22" value="<%= user.vimg22 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg22" id="vbtnimg22" style="display: none" onclick="vagregar(22)">+</button>
                                <input type="text" name="vimg23" class="form-control" id="vimg23" value="<%= user.vimg23 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg23" id="vbtnimg23" style="display: none" onclick="vagregar(23)">+</button>
                                <input type="text" name="vimg24" class="form-control" id="vimg24" value="<%= user.vimg24 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg24" id="vbtnimg24" style="display: none" onclick="vagregar(24)">+</button>
                                <input type="text" name="vimg25" class="form-control" id="vimg25" value="<%= user.vimg25 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg25" id="vbtnimg25" style="display: none" onclick="vagregar(25)">+</button>
                                <input type="text" name="vimg26" class="form-control" id="vimg26" value="<%= user.vimg26 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg26" id="vbtnimg26" style="display: none" onclick="vagregar(26)">+</button>
                                <input type="text" name="vimg27" class="form-control" id="vimg27" value="<%= user.vimg27 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg27" id="vbtnimg27" style="display: none" onclick="vagregar(27)">+</button>
                                <input type="text" name="vimg28" class="form-control" id="vimg28" value="<%= user.vimg28 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg28" id="vbtnimg28" style="display: none" onclick="vagregar(28)">+</button>
                                <input type="text" name="vimg29" class="form-control" id="vimg29" value="<%= user.vimg29 %>" style="display: none;"><button type="button" class="btn btn-dark" name="vbtnimg29" id="vbtnimg29" style="display: none" onclick="vagregar(29)">+</button>
                                <input type="text" name="vimg30" class="form-control" id="vimg30" value="<%= user.vimg30 %>" style="display: none;">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Links de tus fotografias / pinturas / etc...</label>
								<input type="text" name="imagenes" class="form-control" id="imagenes" value="<%= user.imagenes %>" style="display: inline;"><button type="button" name="btnimg1" id="btnimg1" class="btn btn-dark" style="display: inline" onclick="agregar(1)">+</button>
                                <input type="text" name="img2" class="form-control" id="img2" value="<%= user.img2 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg2" id="btnimg2" style="display: none" onclick="agregar(2)">+</button>
                                <input type="text" name="img3" class="form-control" id="img3" value="<%= user.img3 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg3" id="btnimg3" style="display: none" onclick="agregar(3)">+</button>
                                <input type="text" name="img4" class="form-control" id="img4" value="<%= user.img4 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg4" id="btnimg4" style="display: none" onclick="agregar(4)">+</button>
                                <input type="text" name="img5" class="form-control" id="img5" value="<%= user.img5 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg5" id="btnimg5" style="display: none" onclick="agregar(5)">+</button>
                                <input type="text" name="img6" class="form-control" id="img6" value="<%= user.img6 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg6" id="btnimg6" style="display: none" onclick="agregar(6)">+</button>
                                <input type="text" name="img7" class="form-control" id="img7" value="<%= user.img7 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg7" id="btnimg7" style="display: none" onclick="agregar(7)">+</button>
                                <input type="text" name="img8" class="form-control" id="img8" value="<%= user.img8 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg8" id="btnimg8" style="display: none" onclick="agregar(8)">+</button>
                                <input type="text" name="img9" class="form-control" id="img9" value="<%= user.img9 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg9" id="btnimg9" style="display: none" onclick="agregar(9)">+</button>
                                <input type="text" name="img10" class="form-control" id="img10" value="<%= user.img10 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg10" id="btnimg10" style="display: none" onclick="agregar(10)">+</button>
                                <input type="text" name="img11" class="form-control" id="img11" value="<%= user.img11 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg11" id="btnimg11" style="display: none" onclick="agregar(11)">+</button>
                                <input type="text" name="img12" class="form-control" id="img12" value="<%= user.img12 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg12" id="btnimg12" style="display: none" onclick="agregar(12)">+</button>
                                <input type="text" name="img13" class="form-control" id="img13" value="<%= user.img13 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg13" id="btnimg13" style="display: none" onclick="agregar(13)">+</button>
                                <input type="text" name="img14" class="form-control" id="img14" value="<%= user.img14 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg14" id="btnimg14" style="display: none" onclick="agregar(14)">+</button>
                                <input type="text" name="img15" class="form-control" id="img15" value="<%= user.img15 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg15" id="btnimg15" style="display: none" onclick="agregar(15)">+</button>
                                <input type="text" name="img16" class="form-control" id="img16" value="<%= user.img16 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg16" id="btnimg16" style="display: none" onclick="agregar(16)">+</button>
                                <input type="text" name="img17" class="form-control" id="img17" value="<%= user.img17 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg17" id="btnimg17" style="display: none" onclick="agregar(17)">+</button>
                                <input type="text" name="img18" class="form-control" id="img18" value="<%= user.img18 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg18" id="btnimg18" style="display: none" onclick="agregar(18)">+</button>
                                <input type="text" name="img19" class="form-control" id="img19" value="<%= user.img19 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg19" id="btnimg19" style="display: none" onclick="agregar(19)">+</button>
                                <input type="text" name="img20" class="form-control" id="img20" value="<%= user.img20 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg20" id="btnimg20" style="display: none" onclick="agregar(20)">+</button>
                                <input type="text" name="img21" class="form-control" id="img21" value="<%= user.img21 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg21" id="btnimg21" style="display: none" onclick="agregar(21)">+</button>
                                <input type="text" name="img22" class="form-control" id="img22" value="<%= user.img22 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg22" id="btnimg22" style="display: none" onclick="agregar(22)">+</button>
                                <input type="text" name="img23" class="form-control" id="img23" value="<%= user.img23 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg23" id="btnimg23" style="display: none" onclick="agregar(23)">+</button>
                                <input type="text" name="img24" class="form-control" id="img24" value="<%= user.img24 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg24" id="btnimg24" style="display: none" onclick="agregar(24)">+</button>
                                <input type="text" name="img25" class="form-control" id="img25" value="<%= user.img25 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg25" id="btnimg25" style="display: none" onclick="agregar(25)">+</button>
                                <input type="text" name="img26" class="form-control" id="img26" value="<%= user.img26 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg26" id="btnimg26" style="display: none" onclick="agregar(26)">+</button>
                                <input type="text" name="img27" class="form-control" id="img27" value="<%= user.img27 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg27" id="btnimg27" style="display: none" onclick="agregar(27)">+</button>
                                <input type="text" name="img28" class="form-control" id="img28" value="<%= user.img28 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg28" id="btnimg28" style="display: none" onclick="agregar(28)">+</button>
                                <input type="text" name="img29" class="form-control" id="img29" value="<%= user.img29 %>" style="display: none;"><button type="button" class="btn btn-dark" name="btnimg29" id="btnimg29" style="display: none" onclick="agregar(29)">+</button>
                                <input type="text" name="img30" class="form-control" id="img30" value="<%= user.img30 %>" style="display: none;">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Link de tu boton perzonalizado de PayPal</label>
								<textarea class="form-control" name="paypal" id="paypal" rows="1"><%= user.paypal %></textarea>
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Imagen de perfil</label>
								<input type="text" name="perfil" class="form-control" id="perfil" value="<%= user.perfil %>">
							</div>
                            <div class="form-group">
								<label for="exampleInputEmail1">Imagen de portada</label>
								<input type="text" name="portada" class="form-control" id="portada" value="<%= user.portada %>">
							</div>
							<button type="submit" class="btn btn-primary">Guardar cambios</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('_footer')%>
</body>

</html>