<!DOCTYPE html>
<html lang="en">

<%- include('_head.ejs') %>

<body class="profile-page sidebar-collapse">
  <%- include('_menu.ejs') %>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('<%= user.portada %>');"></div>
 
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="<%= user.perfil %>" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title"><%= user.nombre + ' '+ user.apellido %></h3><a class="btn btn-primary" href="/profile_panel" role="button">Editar perfil</a>
                <h6><%= user.genero %></h6>
                <h4><%= user.nart %></h4>
                <a href="<%= user.facebook %>" class="btn btn-just-icon btn-link btn-dribbble"><i class="fab fa-facebook-square"></i></a>
                <a href="<%= user.youtube %>" class="btn btn-just-icon btn-link btn-twitter"><i class="fab fa-youtube"></i></a>
                <a href="<%= user.instagram %>" class="btn btn-just-icon btn-link btn-pinterest"><i class="fab fa-instagram"></i></a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="<%= user.paypal %>" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_UY/i/scr/pixel.gif" width="1" height="1" />
</form>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p><%= user.f_tecnica%></p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#imagenes" role="tab" data-toggle="tab">
                    <i class="far fa-images"></i> Imágenes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#videos" role="tab" data-toggle="tab">
                    <i class="fas fa-video"></i> Videos
                  </a>
                </li>
                <!--
                <li class="nav-item">
                  <a class="nav-link" href="#musica" role="tab" data-toggle="tab">
                    <i class="fas fa-music"></i> Musica 
                  </a>
                </li>
                -->
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="imagenes">
            <div class="row">
              <div class="container">
                <img src="<%= user.imagenes %>" class="rounded">
                <img src="<%= user.img2 %>" class="rounded">
                <img src="<%= user.img3 %>" class="rounded">
                <img src="<%= user.img4 %>" class="rounded">
                <img src="<%= user.img5 %>" class="rounded">
                <img src="<%= user.img6 %>" class="rounded">
                <img src="<%= user.img7 %>" class="rounded">
                <img src="<%= user.img8 %>" class="rounded">
                <img src="<%= user.img9 %>" class="rounded">
                <img src="<%= user.img10 %>" class="rounded">
              </div>
              <div class="container">
                <img src="<%= user.img11 %>" class="rounded">
                <img src="<%= user.img12 %>" class="rounded">
                <img src="<%= user.img13 %>" class="rounded">
                <img src="<%= user.img14 %>" class="rounded">
                <img src="<%= user.img15 %>" class="rounded">
                <img src="<%= user.img16 %>" class="rounded">
                <img src="<%= user.img17 %>" class="rounded">
                <img src="<%= user.img18 %>" class="rounded">
                <img src="<%= user.img19 %>" class="rounded">
                <img src="<%= user.img20 %>" class="rounded">
              </div>
              <div class="container">
                <img src="<%= user.img21 %>" class="rounded">
                <img src="<%= user.img22 %>" class="rounded">
                <img src="<%= user.img23 %>" class="rounded">
                <img src="<%= user.img24 %>" class="rounded">
                <img src="<%= user.img25 %>" class="rounded">
                <img src="<%= user.img26 %>" class="rounded">
                <img src="<%= user.img27 %>" class="rounded">
                <img src="<%= user.img28 %>" class="rounded">
                <img src="<%= user.img29 %>" class="rounded">
                <img src="<%= user.img30 %>" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="videos">
            <div class="row">
              <div class="container">
              <% if (user.video == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.videos %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg2 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg2 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
               <% if (user.vimg3 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg3 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg4 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg4 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg5 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg5 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg6 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg6 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg7 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg7 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg8 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg8 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg9 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg9 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg10 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg10 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg11 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg11 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg12 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg12 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg13 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg13 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg14 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg14 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg15 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg15 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg16 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg16 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg17 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg17 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg18 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg18 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg19 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg19 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg20 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg20 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg21 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg21 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg22 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg22 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg23 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg23 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg24 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg24 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg25 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg25 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg26 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg26 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg27 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg27 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg28 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg28 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg29 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg29 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              <% if (user.vimg30 == "") {%><%} else {%><iframe width="560" height="315" src="<%= user.vimg30 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('_footer.ejs')%>
</body>

</html>
